body{
    padding: 0;
    margin: 0;
}

.container{
    text-align: center;
    /* max-height: 1000px;     */
}
#gameBoard{
border: 3px solid;
color: black;

}

#score{
    font-size: 100px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

#resetButton{
    font-size: 30px;
    border-radius: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 40px;
    width: 80px;
    /* padding: 3px; */
}

#resetButton:hover{
    background-color: rgb(210, 208, 208);
    cursor: pointer;

}
#resetButton:active{
    background-color: rgb(73, 73, 72);
}